.actions-logo {
    margin: 13px;
}

ion-card {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color: var(--ion-color-secondary);
    
    .loyalty-box {
        background-color: var(--ion-color-primary-contrast); /* Kırmızı arka plan rengi */
    }
}

.loyalty-card {
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
    
    

    .loyalty-point {
        background-color: rgb(245, 245, 245, .3);
        border-radius: 8px;
        padding: 8px;
        margin: 12px 34px;
        font-size: large;
        font-weight: bold;
        color: var(--ion-color-primary)
    }
  }