<ion-grid>
  <ion-row>
    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="card">
        <img class="actions-logo" [src]="'assets/images/Group 41541.svg'" alt="">
        <ion-card-header>
          <ion-card-subtitle>Restorandayım</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="card">
        <img class="actions-logo" [src]="'assets/images/Group 41542.svg'" alt="">
        <ion-card-header>
          <ion-card-subtitle>Paket Servisi</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="card">
        <img class="actions-logo" [src]="'assets/images/Group 41558.svg'" alt="">
        <ion-card-header>
          <ion-card-subtitle>Gel-Al</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="card">
        <img class="actions-logo" [src]="'assets/images/Group 41560.svg'" alt="">
        <ion-card-header>
          <ion-card-subtitle>Rezervasyon</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="card">
        <img class="actions-logo" [src]="'assets/images/Group 41782.svg'" alt="">
        <ion-card-header>
          <ion-card-subtitle>İletişim</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeXs="4" sizeMd="2">
      <ion-card class="loyalty-card">
        <div class="loyalty-point">
          00,00
        </div>
        <ion-card-header>
          <ion-card-subtitle style="color: #FFFFFF;">Puanım</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>