ion-title, ion-header, ion-content, .header-md, .searchbar-input.sc-ion-searchbar-md, ion-card {
    box-shadow: none;
    -webkit-box-shadow: none
}


.icon-primary-contrast {
    color: var(--ion-color-primary-contrast)
}